<div class="d-flex flex-column h-100">
  <!-- Top Navigation -->
  <app-navbar></app-navbar>

  <main class="flex-shrink-0">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- Main -->
<!-- <div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-lg-2">

      <div role="button" class="d-lg-none d-flex py-2 px-4 align-items-center text-body sidebar-collapsed">
        <span class="mr-auto">Menu</span>
        
        <button class="btn btn-link p-0">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false" class="align-middle"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
        </button>
      </div>

    </div>
  </div>
</div> -->